.our-blog {
  padding-bottom: var(--spacingSection);
  h2 {
    margin-bottom: 64px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px;
  }

  @media screen and (max-width: 1023px) {
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 300px;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 20px;
      padding: 20px;
      margin-left: -20px;
      grid-template-columns: unset;
    }
    &-list::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-list > * {
      scroll-snap-align: start;
    }
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  &-image {
    height: 285px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &-top {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 0 16px;
    span,
    h6,
    p {
      padding-bottom: 16px;
    }

    h6 {
      cursor: pointer;
    }
    span {
      color: var(--grey300);
    }
  }

  &-bottom {
    margin-top: auto;
    flex-shrink: 0;
  }
}
