h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 46px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
}

h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.caption-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.link {
  color: var(--royalBlue);
  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;

  > span {
    margin-right: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 54px;
    line-height: 74px;
  }

  h2 {
    font-size: 48px;
    line-height: 64px;
  }

  h3 {
    font-size: 38px;
    line-height: 56px;
  }

  h4 {
    font-size: 36px;
    line-height: 56px;
  }

  h5 {
    font-size: 32px;
    line-height: 48px;
  }

  h6 {
    font-size: 24px;
    line-height: 36px;
  }
}
