section.how-we-work
  .inner
    .left(data-aos="fade-right", data-aos-duration="600")
      h2.heading How we work
      p.description.caption-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      a.link.get-us(href="#") 
        span Get in touch with us
        ion-icon(name='arrow-forward-outline')
    .right
      +workCardItem("./images/work-image-1.png", 'Strategy', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .', 600)
      +workCardItem("./images/work-image-2.png", 'Wireframing', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .', 800)
      +workCardItem("./images/work-image-3.png", 'Design', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .', 1000)
      +workCardItem("./images/work-image-4.png", 'Development', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .', 1200)