section.vier-ours-project.wrapper
  .view-more
    h2 View our projects
    a.link.caption-desc(href="#")
      span View More 
      ion-icon(name='arrow-forward-outline')
  .content 
    .c1(data-aos="zoom-in-right", data-aos-duration="600")
      +projectCardItem1('./images/view-our-project-1.png', 'Workhub office Webflow Webflow Design', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam ')
    .c2(data-aos="fade-left", data-aos-duration="800")
      +projectCardItem2('./images/view-our-project-2.png', 'Unisaas Website Design')
    .c3(data-aos="zoom-in-up", data-aos-duration="800")
      +projectCardItem2('./images/view-our-project-3.png', 'Workhub office Webflow Webflow Design')