section.send-inquire.wrapper 
  .send-inquire-left
    img.img(alt="", srcset="./images/send-inquiry.png")
    .mask(data-aos="zoom-in-down", data-aos-duration="800")
      h1 Building stellar websites for early startups
      p.caption-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
  .send-inquire-right
    h5(data-aos="fade-up", data-aos-duration="800") Send inquiry
    p(data-aos="fade-up", data-aos-duration="800") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    input.input(data-aos="fade-up", data-aos-duration="800")(type="text", value="", placeholder="Your Name")
    input.input(data-aos="fade-up", data-aos-duration="800")(type="text", value="", placeholder="Email")
    input.input(data-aos="fade-up", data-aos-duration="800")(type="text", value="", placeholder="Paste your Figma design URL")
    a.btn.btn--primary.btn-sent(data-aos="fade-up", data-aos-duration="800")(href="#") Send an Inquiry
    a.link.caption-desc(data-aos="fade-up", data-aos-duration="800")(href="#")
      span Get in touch with us
      ion-icon(name='arrow-forward-outline')