section.our-blog.wrapper 
  h2 Our blog
  .our-blog-list 
    +blogCardItem('./images/blog-1.png', '19 Jan 2022', 'How one Webflow user grew his single person consultancy from $0-100K in 14 months', 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
    +blogCardItem('./images/blog-2.png', '19 Jan 2022', 'How one Webflow ', 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')
    +blogCardItem('./images/blog-3.png', '19 Jan 2022', 'How one Webflow user grew his single person consultancy from $0-100K in 14 months', 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract, See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract')