section.features
  .wrapper 
    .inner 
      .text-heading(data-aos="zoom-in-up", data-aos-duration="800")
        span Features
        h2 Design that solves problems, one product at a time
      .features-list 
        +featureCardItem('./images/feature-icon-1.png', 'Uses Client First', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')
        +featureCardItem('./images/feature-icon-2.png', 'Two Free Revision Round', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')
        +featureCardItem('./images/feature-icon-3.png', 'Template Customization', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')
        +featureCardItem('./images/feature-icon-4.png', '24/7 Support', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')
        +featureCardItem('./images/feature-icon-5.png', 'Quick Delivery', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')
        +featureCardItem('./images/feature-icon-6.png', 'Hands-on approach', 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. ')