section.questions.wrapper
    .questions-left(data-aos="flip-up", data-aos-duration="800")
      h3 Frequently asked questions
      p.more-info Contact us for more info
    .questions-right 
      +accordionItem('01', 'How much time does it take?')
      +accordionItem('02', 'What is your class naming convention?')
      +accordionItem('03', 'How do you communicate?')
      +accordionItem('04', 'I have a bigger project. Can you handle it?')
      +accordionItem('05', 'What is your class naming convention?')