section.review 
  .review-container.wrapper 
    .review-left(data-aos="fade-up", data-aos-duration="800")
      h3.title What our clients say about us
      p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
    .review-right
      .review-item(data-aos="zoom-out-up", data-aos-duration="800")
        h5.talk "The best agency we’ve worked with so far. They understand our product and are able to add new features with a great focus."
        .customer 
          img.customer-avatar(alt="", srcset="https://i.pravatar.cc/150?img=1")
          .customer-info 
            p.name Jenny Wilson
            span.position Vice President
      .review-item 
        h5.talk "Your time is limited, so don’t waste it living someone else’s life."
        .customer 
          img.customer-avatar(alt="", srcset="https://i.pravatar.cc/150?img=2")
          .customer-info 
            p.name Brian
            span.position Frontend Developer
      .review-item 
        h5.talk "Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations."
        .customer 
          img.customer-avatar(alt="", srcset="https://i.pravatar.cc/150?img=3")
          .customer-info 
            p.name Harry
            span.position Backend Developer